@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the map takes full height */
html, body, #root {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.leaflet-container {
    height: 100%;
    width: 100%;
}